<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


</head>
<body> 

  <!-- NAV BAR STARTED--> 

  <nav class="sticky top-0  ">  
    <div class="p-2  bg-gray-800 text-white w-full flex items-center justify-between "   >
      <div> 
      <img class="h-11 w-13 " src="https://th.bing.com/th/id/OIP.8tZ9iwt1pCAJVUarYDZhTQHaHa?w=197&h=197&c=7&o=5&pid=1.7" alt=".............">
    </div>
      <div class="flex justify-between w-full invisible lg:visible absolute lg:relative">

      <a href="#">Categories</a>
      <div class="shadow flex w-1/2">
        <input class="w-full rounded-full p-2 focus:outline-none border border-none" type="text" placeholder="  Search for anything">
      
      </div>
      <div><a href="#">For Business</a></div>
      <div><a href="#">Instructor</a></div>
      <div> <a href="#">My Learning</a></div>
      <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
      </svg></a></div>
      <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
      </svg></a></div>
      <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg></a></div>
      <div><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg></a></div>
    </div>
    <div class="invisible sm:visible lg:invisible relative lg:absolute">
      <h1 class="font-bold text-2xl font-serif">SoloLearn</h1>
    </div>
     
    <div class="visible lg:invisible relative lg:absolute p-3">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg></a></div>
    
    </div>
  </nav>

  <!-- NAV BAR FINISIHED-->

  <!-- PHOTO OF A TEACHER AND COME TEACH WITH US START-->

   <div class="flex flex-col md:flex-row p-2">
      <div class="bg-gray-300 w-full md:w-1/2"><div class="bg-gray-00 md:justify-center p-3 sm:p-10 "> 
          <div class=" pr-12 pb-12 pl-12 font-bold text-center text-4xl font-serif mt-10">Come Teach with us</div>
          <div class=" text-center font-semibold text-2xl"> Become an instructor and change lives — including your own</div>
          <div  class="flex justify-center p-10">
          <button class="bg-blue-800 hover:bg-blue-900  items-center text-white font-bold py-2 px-4 w-2/3">
            GET STARTED
          </button>
        </div>    
      </div>
    </div>
    <img class="md:w-1/2" src="https://images.unsplash.com/photo-1583468982228-19f19164aee2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1513&q=80" alt="">
  </div>
  <!-- PHOTO OF A TEACHER AND COME TEACH WITH US FINISHED-->
  
  <div class=" p-4 md:p-12">
    <h1 class="font-bold text-3xl md:text-5xl text-center lg:pt-5">So many reasons to start</h1>
  </div>

  <div class="p-15 md:p-20 pb-0">
      
    <div class="sm:flex-row justify-evenly flex flex-col p-3 sm:pt-3 sm:pb-0 ">
       <div class="sm:w-1/3 flex flex-col items-center">
        <div class="sm:mx-auto"> <img src="https://s.udemycdn.com/teaching/value-prop-inspire-v2.svg" alt=""></div>
        <div>
         <h1 class="font-semibold  text-xl text-center" >Inspire learners</h1>
         <p class="p-3 text-center">Teach what you know and help learners explore their interests, gain new skills, and advance their careers.</p>
       </div>
      </div>
       <div class="sm:w-1/3 flex flex-col items-center">
        <div class="mx-auto"><img src="	https://s.udemycdn.com/teaching/value-prop-be-yourself-v2.svg" alt=""></div>
         <div>
         <h1 class="font-semibold p-2 text-xl text-center">Teach your way</h1>
         <p class="p-3 text-center">Publish the course you want, in the way you want, and always have of control your own content.</p>
       </div>
      </div> 
       <div class="sm:w-1/3 flex flex-col items-center ">
        <div class="mx-auto"> <img src="https://s.udemycdn.com/teaching/value-prop-get-rewarded-v2.svg" alt=""></div>
        <div>
         <h1 class="font-semibold p-2 text-xl text-center">Get rewarded</h1>
         <p class="p-3 text-center" >Expand your professional network, build your expertise, and earn money on each paid enrollment.</p>
      </div>
  </div>
</div>
</div>   
  <div class="bg-gray-300 p-10">
    <div class="flex flex-wrap md:flex-nowrap space-x-5 justify-between mx-auto">
      <div class="p-3">
        <h1 class="text-4xl font-extrabold">20M </h1>
        <h3 class="font-semibold">Students</h3>
      </div>
      <div class="p-3" >
        <h1 class="text-4xl font-extrabold">40+ </h1>
        <h3 class="font-semibold">Languages</h3>
      </div>
      <div class="p-3">
        <h1 class="text-4xl font-extrabold">200M </h1>
        <h3 class="font-semibold">Enrollements</h3>
      </div>
      <div class="p-3">
        <h1 class="text-4xl font-extrabold">100+ </h1>
        <h3 class="font-semibold">Countries</h3>
      </div>
      <div class="p-3">
        <h1 class="text-4xl font-extrabold">5000+ </h1>
        <h3 class="font-semibold">Enterprise Customers</h3>
      </div>

    </div>
  </div>

  <div class="p-20">
    <h1 class="text-3xl sm:text-4xl md:text-5xl text-center font-bold"> How to Begin</h1>
  </div>
  <div class=" flex justify-center space-x-5 ">
    <button>Plan your curriculum</button>
    <button>Record your video</button>
    <button>Launch your course</button>
    <button>your your </button>
  </div>




</body>
